* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "ITC Officina Sans Std Book";
}
body {
  background: #f1f3f6;
}
/*------------------------------------header section----------------------------------------*/

.navbar {
 background-color: #fff;
  padding: 0px 50px;
  height: 9.2vh;
}
 .navbar-brand{
  font-size: 20px;
}
.navbar-brand p{
  font-size: 14px;
  margin-top: -10px;
}
.nav-item p,.navbar-brand{
  color: #2ECAB6!important;
}
 .nav-link{
  font-weight: bold!important

}
.blink{
  width:50px;
  height: 20px;
  background: red;
  border-radius: 10px;
  text-align: center;
  font-size: 14px;
  color: white;
  margin-top: -12px!important;
  margin-left:50px;
}
.bl{
  margin-left:80px;
}
@media (max-width: 992px) {
  .blink{
    margin-top: 15px!important;
  }
}
.menu ul {
  display: flex;
  list-style: none;
}
/*.menu ul li p {
  color: #2ECAB6!important;
  font-size: 20px;
}*/
.menulines {
  display: none;
}
.fa-arrow-left{
  font-size: 20px;
  color: #2ECAB6;
 padding-top: -5px!important;
}
.mobview {
  display: none!important;
}
@media (max-width: 769px) {
  header {
  width: 100%;
}
  .navbar {
    padding: 0px 10px;
  }
  .menulines {
    display: block;
    color: #2ecab6;
    
    font-size: 30px;
    margin-top: -10px;
    cursor: pointer;
  }
  .menu {
    display: none;
  }
  .mobview {
    display: block!important;
  }
 
  ul.breadcrumb li {
    font-size: 14px !important;
  }
  .left{
    display: none!important;
  }
  .fa-credit-card,.fa-user-circle,.fa-file-import,.fa-th-list,
   .fa-home,.fa-map-marker-alt,.fa-city,.fa-images,.fa-tv,.fa-calendar-alt{
  color: black!important;
  margin-right: 15px;
  font-size: initial !important;
}
.row{
  padding: 15px 0px!important;
}
.small{
  display: flex;
  flex-direction: row!important;
  justify-content: space-around;
  font-size: 16px;
}
.right{
  margin-top: 10px;
}
.middle legend{
  font-size: 18px;
  font-weight: bold;
}
}
  /*---------------------------sidenav-------------------------*/
.sidebar {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 2;
  left: 0;
  background-color: #2ecab6;
  overflow-x: hidden;
  
  transition: 0.5s;
  padding-top: 60px;
}

.sidebar a {
  padding: 8px 15px 8px 15px;
  text-decoration: none;
  font-size: 25px;
  color: #000;
  display: block;
  transition: 0.3s;
  border-bottom: 1px solid rgba(0, 0, 0, 0.048);
}

.sidebar a:hover {
  background-color: rgba(4, 10, 9, 0.212);
}

.sidebar .closebtn {
  position: absolute;
  top: 0;
  right: 0px;
  font-size: 36px;
  margin-left: 50px;
  border: none !important;
}
.sidebar .closebtn:hover {
  background-color: #2ecab6 !important;
}

#main {
  transition: margin-left 0.5s;
  padding: 16px;
}
.ll {
  font-size: 16px;
  cursor: pointer;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidebar {
    padding-top: 15px;
    
  }
  .sidebar a {
    font-size: 18px;
  }
}

/*---------------------------desktop view-------------------------*/
/*--------------------------------left side--------------------------------------*/
.left{
    display: block;
  }
.icon{
  padding: 15px;
}
.box {
  background: #fff;
  margin: 1px 0px;
  padding: 15px;
}

.left a {
  text-decoration: none;
  color: black;
}
.left a:hover {
  color: #069784;
}
.box .list {
  opacity: 0.7;
  font-size: 16px!important;
}

.fa-credit-card,.fa-user-circle,.fa-file-import,.fa-th-list,
.fa-home,.fa-map-marker-alt,.fa-city,.fa-images,.fa-tv,.fa-calendar-alt,.fa-phone-slash,
.fa-user-check,.fa-piggy-bank,.fa-user-shield,.fa-tachometer-alt,.fa-sign-out-alt,
.fa-list,.fa-life-ring,.fa-clock {
  color: #2ecab6;
  margin-right: 15px;
}
.fa-handshake,.fa-hand-holding-heart{
  color: #2ecab6;
}
.fa-whatsapp,.fa-pencil-alt{
  color: green;
  margin:0 5px;
}
.list:hover {
  background: #f2fffc;
  color: #069784;
}
.nav-pills .nav-link.active, .nav-pills .show>.nav-link,.nav-pills .nav-link.active i {
    color: #fff;
    background-color: #2ecab6!important;
    opacity:1!important;
}
.sublist {
  padding: 5px 0px 5px 50px;
  font-size: 16px;
  background: white;
}
.sublist:hover {
  background: #f2fffc;
  color: #069784;
}
.signout:hover{
  background: red!important;
  color: white;
}

/*------------------------------left side end-------------------------------------------------*/
/*-------------------------------right side---------------------------------------------------*/
ul {
  list-style: none;
}
ul.breadcrumb {
  padding: 10px 16px;
  list-style: none;
  background-color: #eee;
}
ul.breadcrumb li {
  display: inline;
  font-size: 15px;
}
ul.breadcrumb li + li:before {
  padding: 8px;
  color: black;
  content: ">";
}
ul.breadcrumb li a {
  color: #23b6ae;
  text-decoration: none;
}
ul.breadcrumb li a:hover {
  color: #01447e;
  text-decoration: underline;
}
.bprofile,.payment,.booking {
  margin: 10px 0px;
  padding: 10px 10px;
  font-size: 18px;
}

/*--------------------------Basic Profile  ----------------------------------*/

#myform input[type="text"],
input[type="email"] {
  padding: 8px 15px;
  border: 1px solid #ccc;
  border-radius: 0px;
  margin-bottom: 10px;
  margin-top: 2px;
  box-sizing: border-box;
  color: #2c3e50;
  background-color: #eceff1;
  font-size: 16px;
  letter-spacing: 1px;
}
/*----------------------------Transactions-----------------*/
.redText {
  background-color: red;
}
.greenText {
  background-color: #0f0;
}
.yellowText {
  background-color: yellow;
}

/*---------rental --------*/
#myCheck:checked + #area{
  display: inline!important;
  margin-left: 2px;
}

#area{
font-size: 14px;
  }


/*--------------------------------right side end------------------------------------------------*/
footer {
  color: #fff;
}
footer a {
  text-decoration: none;
  color: white;
}
.teal.accent-3 {
    background-color: #1de9b6 !important;
}
.footer-links a:hover {
    font-weight: bold!important;
    text-decoration: underline;
    color: white;
}

/*--------------------------------Media Query for diffrent sizes------------------------------------------------*/

  
@media (max-width: 1100px) and (min-width: 770px) {
  
  .box .list {
    font-size: 16px;
  }
}
@media (max-width: 955px) and (min-width: 770px) {
  .list {
    font-size: 15px;
  }
}
