* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "ITC Officina Sans Std Book";
}
body {
  background: #f1f3f6;
}
.navbar-brand{
	font-size: 20px;

}
.navbar-brand p{
	font-size: 14px;
	margin-top: -10px;
}
.navbar ul li a,.nav-item a,.navbar-brand{
	color: #2ECAB6!important;
}
.a1{
	background: #2ECAB6;
	height: 250px;
	background-size: 100% 100%;
	padding-top: 60px;
	width:100%;
}
.container1{
	margin: 0 auto;
    width: 94%;
    max-width: 1600px;
    margin-top: -117px;
    background: white;
    /*overflow: visible;*/
}
.fa-check,.fa-map-marker-alt{
	color: #2ECAB6;
	margin-right: 10px;
}
.cards img{
	height: 200px;
}

@media (max-width: 620px) {
	.a1{
		height: 270px;
	}	
}
@media (max-width: 432px) {
	.a1{
		height: 300px;
		padding-top: 90px;
	}
	
	
}

