* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "ITC Officina Sans Std Book";
}
body {
  background: #f1f3f6;
 
}
/*--------------------------navbar------------------------------------------*/
.navbar-brand{
	font-size: 20px;
	margin-top: 5px!important;
	margin-bottom: -10px!important
}
.navbar-brand p{
	font-size: 14px;
	margin-top: -10px;
}
.navbar ul li a,.nav-item a,.navbar-brand{
	color: #2ECAB6!important;
}
.blink{
	width:50px;
	height: 20px;
	background: red;
	border-radius: 10px;
	text-align: center;
	font-size: 14px;
	color: white;
	margin-top: -12px!important;
}
@media (max-width: 992px) {
  .blink{
  	margin-top: 15px!important;
  }
}
/*-----------------------navbar end------------------------------------------->*/
/*-----------------------1st part start------------------------------------------->*/
.a1{
	background: #2ECAB6;
	height: 250px;
	background-size: 100% 100%;
	padding-top: 60px;
	width:100%;
}
.container1{
	margin: 0 auto;
    width: 94%;
    max-width: 1600px;
    margin-top: -117px;
    background: white;
    /*overflow: visible;*/
}
.fa-check{
	color: #2ECAB6;
	margin-right: 10px;
}
.fa-map-marker-alt{
	color: #2ECAB6;
	margin-right: 5px;
}
.tick p{
	margin-bottom: 5px;
}
.cards img{
	height: 200px;
}
.btn.btn-search{
  background:#2ECAB6!important; 
  border-radius: 0;
  color: white;
}
/*---------------------------1st part end---------------------------------------------*/
/*---------------------------last part start---------------------------------------------*/
.fa-handshake,.fa-user-shield,.fa-hand-holding-heart{
	color: #2ecab6;
	font-size: 20px;
}

footer {
  color: #fff;
}
footer a {
  text-decoration: none;
  color: white;
}
/*---------------------------last part end---------------------------------------------*/
/*------------------------all media queries-----------------------------*/
@media (max-width: 576px) {
	.tick p,.a2 p,.last p{	
		font-size: 14px;
	}
	.premium{
		text-align: left!important;
	}
	.a2{
		padding-top: 10px!important;
	}
	input[type="search"]{
		font-size: 10px;
		padding-top: 20px!important;
		padding-bottom: 20px!important;	
	}
	.btn.btn-search{
      font-size: 10px;
      padding-top: 12px!important;
	 padding-bottom: 13px!important;
	}
}

@media (max-width: 620px) and (min-width: 445px) {
  .a1{
		height: 270px;
	}
}
@media (max-width: 445px)  {
	.a1{
		height: 290px;
		padding-top: 70px;
	}
	.navbar-brand{
		padding-left: 0!important;
	}
	.dropdown{
		margin-left: -20px!important
	}
	.navbar-brand{
	font-size: 18px;
      }
   .navbar-brand p{
	font-size: 12px;	
}	
	
}
@media (max-width: 386px)  {
  .a1{
		height: 300px;
		padding-top: 80px;
	}
	.img1 {
       width: auto;
       height: 3vh;
    }
   .dropdown{
		margin-left: -25px!important
	}
}
/*-----------------------1st part end------------------------------------------->*/
/*---------------------------------------why sheltown part start---------------------------------------*/
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
/*.img {
  width: 6vh;
  height: auto;
}
.size {
  font-size: 14px;
}*/
.img1 {
  width: auto;
  height: 7vh;
  
}
/*.size1 {
  font-size: 16px;
  word-break: keep-all;
}*/

.scrolling-wrapper {
  white-space: nowrap;
  overflow: auto;
  overflow-y: hidden;
  width: 1000px;
  height: 190px;
}
/*.card {
  display: inline-block;
}*/
.cf.card{
  width: 100%;
}
@media (min-width: 580px) {
  .mob {
    display: none;
  }
  .h {
    display: none;
  }
}
@media (max-width: 580px) {
  .mob1 {
    display: none;
  }
  .g {
    display: none;
  }
  .responsive {
    width: 100%;
    height: auto;
  }
  .img1 {
  width: auto;
  height: 4vh;
}
.cardss p{
	font-size: 10px;
}
}

/*---------------------------------------why sheltown part end---------------------------------------*/

