* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "ITC Officina Sans Std Book";
}
body {
  /*background: #f1f3f6;*/ 
}
html{
	scroll-behavior: smooth;
}
/*---------------------top part---------------------------- */
.section1,.top{
	width: 100%;
}
.top{
	 background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)),url("images/town1.png");
	 
	 /*clip-path: ellipse(130px 140px at 10% 20%);*/
	 color: white;
	 padding: 50px 30px;
}
.fa-angle-right{
	font-size: 30px;
	color: red;
	margin: auto;
	
}
@media (max-width: 576px) {
  .images img{
  	width:100%;
  	height: auto;
  }
  .images h5{
  	font-size: 16px;
  }
}
/*--------------------top part end------------------------*/
footer {
  color: #fff;
}
footer a {
  text-decoration: none;
  color: white;
}
.teal.accent-3 {
    background-color: #1de9b6 !important;
}
.footer-links a:hover {
    font-weight: bold!important;
    text-decoration: underline;
    color: white;
}