* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "ITC Officina Sans Std Book";
}
body {
  background: #f1f3f6;
}
html {
  /*scroll-behavior: smooth;*/
}
.navbar-brand {
  font-size: 20px;
  margin-top: 5px !important;
  margin-bottom: -10px !important;
}
.navbar-brand p {
  font-size: 14px;
  margin-top: -10px;
}
.nav-item a,
.navbar-brand {
  color: #2ecab6 !important;
}
.nav-link {
  font-weight: bold !important;
}
.blink {
  width: 50px;
  height: 20px;
  background: red;
  border-radius: 10px;
  text-align: center;
  font-size: 14px;
  color: white;
  margin-top: -12px !important;
  margin-left: 50px;
}
.bl {
  margin-left: 80px;
}
@media (max-width: 992px) {
  .blink {
    margin-top: 15px !important;
  }
}
@media (max-width: 576px) {
  .navbar-brand {
    padding-left: 0 !important;
  }
 
}

.ul1 a{
  color: green!important;
}

.card-header{
  font-size: 20px;
  font-weight: bold;
  color: #072db6;
}
.nav-pills a.active {
  background-color: limegreen ;
  color: white !important;
}
/*---------------------------last part start---------------------------------------------*/
.fa-handshake,
.fa-user-shield,
.fa-hand-holding-heart {
  color: #2ecab6;
  font-size: 20px;
}

footer {
  color: #fff;
}
footer a {
  text-decoration: none;
  color: white;
}
.teal.accent-3 {
  background-color: #1de9b6 !important;
}
.footer-links a:hover {
  font-weight: bold !important;
  text-decoration: underline;
  color: white;
}

/*---------------------------last part end---------------------------------------------*/
