* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "ITC Officina Sans Std Book";
}

body {
    background: #111!important;
 
}
body::-webkit-scrollbar {
    width: 0.4em;
}

body::-webkit-scrollbar-thumb {
  background-color:rgb(155, 148, 148);
  border-radius: 5px;
  border: none;
}

.tab-content::-webkit-scrollbar {
    width: 0.4em;
    height: 0.4em;
    background-color:white;
    border-radius: 5px;
}
.tab-content::-webkit-scrollbar-thumb {
  background-color:rgb(155, 148, 148);
  border-radius: 5px;
  border: none;
}
input[type=checkbox],
a {
    cursor: pointer;
}


/*--------------------------navbar------------------------------------------*/

.navbar-brand {
    font-size: 20px;
    margin-top: 5px!important;
    margin-bottom: -10px!important
}

.navbar-brand p {
    font-size: 14px;
    margin-top: -10px;
}

.nav-item a,
.navbar-brand {
    color: white !important;
}

.nav-link {
    font-weight: bold!important
}

.btn.btn-search {
    background: #2ECAB6!important;
    border-radius: 0;
    color: white;
}

.login a:hover {
    text-decoration: underline;
}

.dropdown-toggle::after {
    content: none;
}

.fa-map-marker-alt {
   /* color: #2ecab6;*/
    font-size: 20px;
    margin-right: 5px;
}

.other {
    color: black;
}
.nav-item{
    display: flex;
    flex-direction: column;
    margin: 5px;
}
/*i {
   margin-left: 8px;

}*/

/*-----------------------navbar end------------------------------------------->*/
/*left  cards*/
.card{
    margin: 10px;
    background:#4C5352!important;
    color: white;
}
.dv{
    display: flex;
    flex-direction: row;
}
.dvl, .dvr{
    display: flex;
    flex-direction: column;

}

/*right cards*/
.schedule{
    overflow-y: scroll;
    height: 350px;
}

/* post now border */

.speak-loud{
    padding-top: 0.7rem;
    padding-bottom: 0.7rem;
    border-radius: 50px;
    font-size: small;
    font-weight: bold;
}
.speak-loud:hover{
    background-color: #EBEBEB;
}

/* rounded card */
.card{
    border-radius: 10px;
    padding: 5px;
}

.sharebtm{
    font-weight: bold;
}
.sharebtm:hover{
    text-decoration: none;
}
/* second card */
.name{
    font-size: large;
    font-weight: bold;
}
.schl{
    font-size: small;
    font-weight: 500;
    line-height: 1em;
}
/* see more */
#text{
    display: none;
}
/* card header bg remove */

.left,.right{
    display: block;
  }
  .mfooter{
    display:none;
}
.header1{
    display: block;
}
.header2{
    display: none;
}
/*--------------------media query for mob view--------------------*/
@media (max-width: 768px) {
  .left,.right{
    display: none;
  }
  .c1{
    display: none;
  }
.header1{
    display: none;
}
.header2{
    display: block;
}
.mfooter{
    display:block;
}
.mfooter a{
    font-size: 12px;
}
.mfooter ul{
    margin-bottom: 0!important
}
.mfooter .navbar{
    position: fixed;bottom: 0;
    transition: all 0.5s;
    width: 100%;
}
.plus i{
    border-radius: 50%;
    color: white;
    border: 1px solid white;
    font-size: 12px;
}
 .sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1032;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 20px;
  color: #fff;
  font-size: 18px;
}

.menu a {
 padding: 10px 0px;
  text-decoration: none;
  font-size: 18px;
  color: #fff;
  display: block;
  transition: 0.3s;
  
}
.menu i{
    font-size: 16px;
}

.sidenav .closebtn { 
  font-size: 36px;
  color: white;
 
}

}
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
