root{
  font-size: 14px;
  }
  body{
    background: #222;
  }
  .top-card{
    margin-top: 5vh;
  }
  
  #background{
   background: #333;
       height: 80vh;
  }
  
  p{
    padding: 0  ;
    margin-bottom: 0 !important;
  }
  #leftside{
    overflow-y:scroll;
    overflow-x: hidden;
    height:80vh;	
  }
  
  
  #leftside a{
    text-decoration: none;
  
  }
  
  
  #leftside a :hover {
    background-color: #EEEEEE;
    color: #078898;
  }
  
  
  .rightside {
    overflow-y:scroll;
    height:80vh;	
  }
  
  
  .header{
    background-color: rgb(209, 214, 214);
    height:3em;
  

  }
  
  
  .icons{
    color: #004879;
    margin-top: 2vh;
  
  }
  
  
  .imgAvatar{
     margin: 5px;
     height:40px;
     width:40px;
  }
  
  .imgAttach{
     height:5vh;
     width:5vw;
  }
  
  
  .circle-text {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    border-radius: 50%;
  
    background:#13ca13d2;
    color: #fff;
    font-size: 1em ;
  }
  
  
  .subtext{
    font-size: 0.8em;
  }
  
  
  .reciever{
    background: rgb(177,192,197) none repeat scroll 0 0;
    background: linear-gradient(0deg, rgba(177,192,197,0.4209033955379027) 0%, rgba(189,194,200,0.950315160243785) 100%);
    color: white;
    padding: 5px 5px;


  }
  
  .sender{
    background: rgb(24,53,63) none repeat scroll 0 0;
    background: linear-gradient(0deg, rgba(24,53,63,0.4209033955379027) 0%, rgba(27,115,225,0.950315160243785) 100%);
    color: white;
    
    padding: 5px 5px;
   
  
  }
  
  /*--------------------media query for mob view--------------------*/
@media (max-width: 768px) {
  .left,.right{
    display: none;
  }
  .c1{
    display: none;
  }
  .header1{
    display: none;
  }
  .header2{
    display: block;
  }
  .mfooter{
    display:block;
  }
  .mfooter a{
    font-size: 21px;
  }
  .mfooter ul{
    margin-bottom: 0!important
  }
  .mfooter .navbar{
    position: fixed;bottom: 0;
    transition: all 0.5s;
    width: 100%;
  }
  .plus i{
    border-radius: 50%;
    color: white;
    border: 1px solid white;
    font-size: 13px;
  }
  .sidenav {
    display: block;
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1032;
  bottom: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 20px;
  color: #fff;
  font-size: 18px;
  
  }
  
  .menu a {
  padding: 10px 0px;
  text-decoration: none;
  font-size: 18px;
  color: #fff;
  display: block;
  transition: 0.3s;
  
  }
  .menu i{
    font-size: 16px;
  }
  
  .sidenav .closebtn { 
  font-size: 36px;
  color: white;
  
  }
  .md-sec{
  height: auto!important;
  overflow: hidden;
  }
  .card {
    margin: 5px;
   
  }
  .md-sec{
  margin-bottom: 9vh;
  }
  
  }
  @media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
  }
  
  .type_msg {position: relative;}
  .msg_send_btn {
    background: #05728f /*none repeat scroll 0 0*/;
    border: none;
    
    border-radius: 50%;
    color: #fff;
    cursor: pointer;
    font-size: 10px;
    
    position: absolute;
    right:0.5%;
    top: 3%;
    width: 4.1em;
    height: 4.1em;
    outline: none !important;
  } 
  .msg_send_btn>*{
    font-size: large;
  }
  .msg_send_btn:hover{
    background:green;
  }
  .msg_send_btn :focus{
    border: none ;
    outline: none !important;
  }

  .write_msg{
      color: white !important;
      background: #111 !important;
      border: none !important;
      outline: none;
      border-radius: 100px;
      width: 100%;
      padding: 10px 0;
  }
  .card{
    background-color: #333;
  }
  .write_msg::placeholder{
    text-indent: 15px;
  }

/* select {
    -webkit-appearance: none;
    -moz-appearance: none;
  
} */
.fa-plus{
  border-radius: 50%;
  color: white;
  border: 1px solid white;
  font-size: 23px;}

.icons{
  display: flex; 
  justify-content: space-around;
   align-items: center;
  }
  .speak input[type=text]{
  border: none;
  outline: none;
  }
  .schedule{
    overflow-y: scroll;
    height: 270px;
  }
  
  /* post now border */
  
  /*.speak-loud{
    padding-top: 0.7rem;
    padding-bottom: 0.7rem;
    border-radius: 50px;
    font-size: small;
    font-weight: bold;
  }*/
  .hashtag:hover{
  /* background: #1DA1F2; */
  color: white!important;
  }
  .icons i{
  color: white;
  }
  .btns button{
  background: #111;
  color: white;
  border-radius: 50px;
  border: 1px solid #555;
  }
  .speak-loud:hover{
    background-color: #EBEBEB;
  }

  .srch_bar {
  display: inline;
  text-align: right;
  width: 60%; 
}
.srch_bar input{ border:1px solid #cdcdcd; border-width:0 0 1px 0; width:80%; padding:2px 0 4px 6px; background:none;}
.srch_bar .input-group-addon button {
  background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
  border: medium none;
  padding: 0;
  color: #707070;
  font-size: 18px;
}
.srch_bar .input-group-addon { margin: 0 0 0 -27px;}