* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "ITC Officina Sans Std Book";
}

body {

  background: #222!important;

}
body::-webkit-scrollbar {
  width: 0.4em;
}

body::-webkit-scrollbar-thumb {
background-color:rgb(155, 148, 148);
border-radius: 5px;
border: none;
}

.tab-content::-webkit-scrollbar {
  width: 0.4em;
  height: 0.4em;
  background-color:white;
  border-radius: 5px;
}
.tab-content::-webkit-scrollbar-thumb {
background-color:rgb(155, 148, 148);
border-radius: 5px;
border: none;
}
input[type=checkbox],
a {
  cursor: pointer;
}


/*--------------------------navbar------------------------------------------*/

.navbar-brand {
  font-size: 20px;
  margin-top: 5px!important;
  margin-bottom: -10px!important;
  
}

.navbar-brand p {
  font-size: 14px;
  margin-top: -10px;
}

.nav-item a,
.navbar-brand {
  color: white !important;
}

.nav-link {
  font-weight: bold!important
}

.btn.btn-search {
  background: #fff!important;
  border-radius: 0;
  color: white;

}
.sr1 .fa-search{
color: black;
}
.fa-comment-dots{
color: white;
font-size: 20px;
}
.in{
border:none!important;
border-radius: 0;
}

.dropdown-toggle::after {
  content: none;
}

.other {
  color: black;
}
.nav-item{
  display: flex;
  flex-direction: column;
  margin: 5px;
}
/*i {
 margin-left: 8px;
}*/

/*-----------------------navbar end------------------------------------------->*/
.container-fluid{
  margin: 30px;
}



img{ max-width:100%;}
.inbox_people {
  background: #f8f8f8 none repeat scroll 0 0;
  float: left;
  overflow: hidden;
  width: 50%; border-right:1px solid #c4c4c4;
}
.inbox_msg {
  border: 1px solid #c4c4c4;
  clear: both;
  overflow: hidden;
}
.top_spac{ margin: 20px 0 0;}


.recent_heading {float: left; width:40%;}
.srch_bar {
  display: inline-block;
  text-align: right;
  width: 60%; 
}
.headind_srch{ padding:10px 29px 10px 20px; overflow:hidden; border-bottom:1px solid #c4c4c4;}

.recent_heading h4 {
  color: #05728f;
  font-size: 21px;
  margin: auto;
}
.srch_bar input{ border:1px solid #cdcdcd; border-width:0 0 1px 0; width:80%; padding:2px 0 4px 6px; background:none;}
.srch_bar .input-group-addon button {
  background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
  border: medium none;
  padding: 0;
  color: #707070;
  font-size: 18px;
}
.srch_bar .input-group-addon { margin: 0 0 0 -27px;}

.chat_ib h5{ font-size:15px; color:#464646; margin:0 0 0px 0;}

.chat_ib p{ font-size:14px; color:#989898; margin:auto}

.chat_ib {
  float: left;
  padding: 0 0 0 5px;
  width: 88%;
}

.chat_people{ overflow:hidden; clear:both;}
.chat_list {
  border-bottom: 1px solid #c4c4c4;
  margin: 0;
  padding: 18px 16px 10px;
}

.inbox_chat { height: 550px;}

.inbox_chat::-webkit-scrollbar {
    width: 0.3em;
}

.inbox_chat::-webkit-scrollbar-thumb {
  background-color:rgb(155, 148, 148);
  border-radius: 5px;
  border: none;
}
.msg_history::-webkit-scrollbar {
    width: 0.3em;
}

.msg_history::-webkit-scrollbar-thumb {
  background-color:rgb(155, 148, 148);
  border-radius: 5px;
  border: none;
}
h5{
  color: rgb(120, 136, 88) !important;
 
}
.active_chat{ background:#444;}

.incoming_msg_img {
  display: inline-block;
  width: 6%;
}
.received_msg {
  display: inline-block;
  padding: 0 0 0 10px;
  vertical-align: top;
  width: 92%;
 }
 .received_withd_msg p {
  background: #ebebeb none repeat scroll 0 0;
  border-radius: 3px;
  color: #646464;
  font-size: 14px;
  margin: 0;
  padding: 5px 10px 5px 12px;
  width: 100%;
}
.time_date {
  color: #747474;
  display: block;
  font-size: 12px;
  margin: 8px 0 0;
}
.received_withd_msg { width: 57%;}
.mesgs {
 
  padding: 30px 15px 0 25px;
  
}

 .sent_msg p {
  background: #05728f none repeat scroll 0 0;
  border-radius: 3px;
  font-size: 14px;
  margin: 0; color:#fff;
  padding: 5px 10px 5px 12px;
  width:100%;
}
.outgoing_msg{ overflow:hidden; margin:26px 0 26px;}
.sent_msg {
  float: right;
  width: 46%;
}
.input_msg_write input {
  background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
  border: medium none;
  color: #4c4c4c;
  font-size: 15px;
  min-height: 48px;
  width: 100%;
}

.type_msg {border-top: 1px solid #c4c4c4;position: relative;}
.msg_send_btn {
  background: #05728f /*none repeat scroll 0 0*/;
  border: medium none;
  border-radius: 50%;
  color: #fff;
  cursor: pointer;
  font-size: 17px;
  height: 33px;
  position: absolute;
  right: 0;
  top: 11px;
  width: 33px;
}
/*.messaging { padding: 0 0 50px 0;}*/
.msg_history {
  height: 60vh;
  
/*  overflow-y: auto;*/
}
.write_msg{
    color: white !important;
    background: #333 !important;
    border: none !important;
}

/*-----------notification--------------------*/
.dropdown-menu{
  /* min-height: 280px;
   max-height: 280px;
   overflow-y: scroll;*/
   min-width: 280px;
 }
 .section1 img{
   width: 50px;
   height: auto;
   border-radius: 50%;
   background: white;
 }
 
 .section1 .dropdown-item{
   color: #fff!important;
 }
 
 .section1 .dropdown-item:hover{
   background-color: #555 !important;
   color: black !important;
 }
 

