* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "ITC Officina Sans Std Book";
}
body {
  background: #f1f3f6;
}
html {
  scroll-behavior: smooth;
}
.btn-info {
  background-color: #2ecab6 !important;
}
/*--------------------------navbar------------------------------------------*/
.navbar-brand {
  font-size: 20px;
  margin-top: 5px !important;
  margin-bottom: -10px !important;
}
.navbar-brand p {
  font-size: 14px;
  margin-top: -10px;
}
.nav-item a,
.navbar-brand {
  color: #2ecab6 !important;
}
.nav-link {
  font-weight: bold !important;
}
.blink {
  width: 50px;
  height: 20px;
  background: red;
  border-radius: 10px;
  text-align: center;
  font-size: 14px;
  color: white;
  margin-top: -12px !important;
  margin-left: 50px;
}
.bl {
  margin-left: 80px;
}
@media (max-width: 992px) {
  .blink {
    margin-top: 15px !important;
  }
}
/*-----------------------navbar end------------------------------------------->*/
/*-----------------------1st part start------------------------------------------->*/
.a1 {
  background: #2ecab6;
  height: 260px;
  background-size: 100% 100%;
  padding-top: 60px;
  width: 100%;
}
.container1 {
  margin: 0 auto;
  width: 94%;
  max-width: 1600px;
  margin-top: -117px;
  background: white;
  /*overflow: visible;*/
}
.fa-check {
  color: #2ecab6;
  margin-right: 10px;
}
.fa-map-marker-alt {
  color: #2ecab6;
  margin-right: 5px;
}
.tick p {
  margin-bottom: 5px;
}
.cards img {
  height: 200px;
}
.btn.btn-search {
  background: #2ecab6 !important;
  border-radius: 0;
  color: white;
}
.a2 a:hover {
  color: green !important;
}
input[type="search"] {
  padding-top: 25px !important;
  padding-bottom: 25px !important;
}
.btn.btn-search {
  padding-top: 13px !important;
  padding-bottom: 13px !important;
}
/*---------------------------1st part end---------------------------------------------*/
.container i {
  margin-left: -30px;
  cursor: pointer;
  color: #000;
}

/*------------------------all media queries-----------------------------*/

@media (max-width: 741px) and (min-width: 576px) {
  .a1 {
    height: 280px;
  }
}
@media (max-width: 576px) {
  .a1 {
    height: 300px;
    padding-top: 50px;
  }
  .a1 span {
    display: block;
  }
  .navbar-brand {
    padding-left: 0 !important;
  }
  .dropdown {
    margin-left: -20px !important;
  }
  .navbar-brand {
    font-size: 18px;
  }
  .navbar-brand p {
    font-size: 12px;
  }
  .tick p,
  .a2 p,
  .last p {
    font-size: 14px;
  }
  .premium {
    text-align: left !important;
  }
  .a2 {
    padding-top: 10px !important;
  }
  input[type="search"] {
    font-size: 10px;
  }
  .btn.btn-search {
    font-size: 10px;
    padding-top: 17px !important;
    padding-bottom: 18px !important;
  }
  .faimage img {
    height: 200px !important;
  }
}
@media (max-width: 386px) and (min-width: 381px) {
  .img1 {
    width: auto;
    height: 3vh;
  }
  .dropdown {
    margin-left: -25px !important;
  }
}
@media (max-width: 381px) {
  .dropdown {
    margin-left: -35px !important;
  }
}

/*---------------------------last part start---------------------------------------------*/
.fa-handshake,
.fa-user-shield,
.fa-hand-holding-heart {
  color: #2ecab6;
  font-size: 20px;
}

footer {
  color: #fff;
}
footer a {
  text-decoration: none;
  color: white;
}
.teal.accent-3 {
  background-color: #1de9b6 !important;
}
.footer-links a:hover {
  font-weight: bold !important;
  text-decoration: underline;
  color: white;
}
.to-top i {
  position: fixed;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  right: 10px;
  bottom: 25px;
  color: #fff;
  font-size: 25px;
  opacity: 0;
  pointer-events: none;
  transition: all 0.4s;
}
.to-top i.active {
  bottom: 25px;
  pointer-events: auto;
  opacity: 1;
}
/*---------------------------last part end---------------------------------------------*/