* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "ITC Officina Sans Std Book";
}
body {
  background: #f1f3f6;
  
}
html {
  /*scroll-behavior: smooth;*/
 height: 100%;
}
.navbar-brand {
  font-size: 20px;
  margin-top: 5px !important;
  margin-bottom: -10px !important;
}
.navbar-brand p {
  font-size: 14px;
  margin-top: -10px;
}
.nav-item a,
.navbar-brand {
  color: #2ecab6 !important;
}
.nav-link {
  font-weight: bold !important;
}
.blink {
  width: 50px;
  height: 20px;
  background: red;
  border-radius: 10px;
  text-align: center;
  font-size: 14px;
  color: white;
  margin-top: -12px !important;
  margin-left: 50px;
}
.bl {
  margin-left: 80px;
}
@media (max-width: 992px) {
  .blink {
    margin-top: 15px !important;
  }
}
@media (max-width: 576px) {
  .navbar-brand {
    padding-left: 0 !important;
  }

}

/*-------------------------desktop view---------------------------------*/
/*-------------------------section 0&1 start---------------------------------*/
.mobview{
  display: none;
}
.slide0{
  height: 100vh;width: 100%;
}
.wrapper {
   width: 100%;
  height: 100vh;
  overflow: hidden;
  perspective: 1000;
}
.slide{
 height: 100vh;
 padding: 100px 50px;
  width: calc(100% /2);
  position: relative;
  float: left;
}

.sections {
  width: 200%;
  height: 100vh;
}

.s1{ 
  /*background: linear-gradient(rgba(47,14,97,0.9),rgba(247,11,54,0.3)),url(images/bg11.jpg);*/
  background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.5)),url(images/d1st.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
}
.s2{
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),url(images/d2nd.jpg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  color: white;
}
.s3{
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),url(images/bg13.jpg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  color: white;
}
.s1 p,.s2 p,.s3 p,.s4 p,.s7 p,.s5 p{
   margin-bottom: 0!important;
}
.fa-check-double{
  font-size: 18px!important;
}
/*---------------section 2-----------*/

.s4{
 /*background: linear-gradient(to top left, #f91f8c 36%, #ffffff 0%);*/
 /*background: linear-gradient(to top left, #b60707 36%, #ffffff 0%);*/
  background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url(images/d4th.jpg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  color: white;
}
.s5{
 
   background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.6)),url(images/d6th.jpg);
   background-repeat: no-repeat;
  background-size: 100% 100%;
}
.header1{ 
    position: sticky; 
    top:0; 
    background: #2ecab6;
    text-align: center;
} 
.tb .fa-check{
    color: #fff;
}
 .ss5 i{
      color: #fff;
      font-size: 20px;

        }
/*---------------------------------------ssection 3------------*/

.s6{
  /*background: linear-gradient(to right, #eb2300 0%, #ab217f 100%);
  90% 50% 0% 50% / 0% 50% 90% 50% 
   background: linear-gradient(to right, #eb2300 0%, #ab217f 100%);
   border-radius: 60% 0% 60% 0% / 60% 66% 60% 100%;color: #000;box-shadow: 10px 10px 14px 1px rgba(00,00,00,0.2);*/
background: linear-gradient(to bottom, #072db6 0%, #0c8cac 95%);
}
.rbtn{
  color: #045de9; border-radius: 50px;border: 1px solid white;background: white;
  box-shadow: 10px 10px 14px 1px rgba(00,00,00,0.2);
}
.ss8 img{
  width:60px;
  height: 60px;

}
.icn i{
  color:#fff;
  font-size: 20px;
}
.modal h2{

 color: #072db6;
}

@media (max-width: 576px) {
 .rbtn{
    padding: 5px 10px!important;
 }
 
 .s6 p{
  font-size: 16px!important;
 }
 .si8 img{
  height: 120px!important;
  width: auto!important;
 }
 .refer h2{
  font-size: 25px!important;
 }
 .sr{
  font-size:20px!important; 
 }
 
 
}
/*-------------------------mob view start---------------------------------*/
@media (max-width: 768px){
  .mobview{
  display: block;
}
.desktopview{
  display: none;
}
/*.s1{ 
  
  background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.5)),url(images/1stslide.jpg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  color: white;
}
.s2{
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),url(images/2ndslide.jpg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  color: white;
}
.s4{
 
  background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url(images/d4th.jpg);
  background-repeat: no-repeat;
  background-size:100% 100%;
  color: white;
}
.s5{
 
   background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.6)),url(images/6thslide.jpg);
   background-repeat: no-repeat;
  background-size: 100% 100%;
}*/
.s1{
    padding: 100px 10px!important;
  }
  .s2,.s3,.s4,.s6,.s7{
    padding: 50px 10px!important;
  }
  .s1 h1,.s2 h1,.s3 h1,.s4 h1,.s6 h1,.s7 h1,.s8 h1{
  font-size: 30px!important;
  }
  .s1 p,.s2 p,.s3 p,.s4 p,.s7 p{
    font-size: 20px;
    
  }
  .s5  h1{
    font-size: 30px!important;
 }
 .s5 p{
  font-size: 20px!important;
 }
 .s5{
  padding: 30px 10px 20px 10px!important;
 }
 .ss7 img{
  display: none;
 }
 .fa-check-double{
  font-size: 16px!important;
 }

}
/*---------------------------last part start---------------------------------------------*/
.fa-handshake,
.fa-user-shield,
.fa-hand-holding-heart {
  color: #2ecab6;
  font-size: 20px;
}

footer {
  color: #fff;
}
footer a {
  text-decoration: none;
  color: white;
}
.teal.accent-3 {
  background-color: #1de9b6 !important;
}
.footer-links a:hover {
  font-weight: bold !important;
  text-decoration: underline;
  color: white;
}
.to-top i {
  position: fixed;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  right: 10px;
  bottom: 25px;
  color: #fff;
  font-size: 25px;
  opacity: 0;
  pointer-events: none;
  transition: all 0.4s;
}
.to-top i.active {
  bottom: 25px;
  pointer-events: auto;
  opacity: 1;
}
/*---------------------------last part end---------------------------------------------*/
