* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "ITC Officina Sans Std Book";
}
body {
  background: #f1f3f6;
  /*overflow-x: hidden;
 scrollbar-width:none;
  -ms-overflow-style:none;*/
  overflow-y: scroll!important;
}
html {
  /*scroll-behavior: smooth;*/
 height: 100%;
}
.navbar-brand {
  font-size: 20px;
  margin-top: 5px !important;
  margin-bottom: -10px !important;
}
.navbar-brand p {
  font-size: 14px;
  margin-top: -10px;
}
.nav-item a,
.navbar-brand {
  color: #2ecab6 !important;
}
.nav-link {
  font-weight: bold !important;
}
.blink {
  width: 50px;
  height: 20px;
  background: red;
  border-radius: 10px;
  text-align: center;
  font-size: 14px;
  color: white;
  margin-top: -12px !important;
  margin-left: 50px;
}
.bl {
  margin-left: 80px;
}
@media (max-width: 992px) {
  .blink {
    margin-top: 15px !important;
  }
}
@media (max-width: 576px) {
  .navbar-brand {
    padding-left: 0 !important;
  }
}


/*-------------------------section 1 start---------------------------------*/

.slide0{
  height: 100vh;width: 100%;
}
.wrapper {
   width: 100%;
  height: 100vh;
  overflow: hidden;
  perspective: 1000;
}
.slide{
 height: 100vh;
 padding: 100px 50px;
  width: calc(100% /2);
 
  /*width: 100vw;*/
  position: relative;
  float: left;
}

.sections {
  width: 200%;
  height: 100vh;
}

.s1{ 
  /*background: linear-gradient(rgba(47,14,97,0.9),rgba(247,11,54,0.3)),url(images/bg11.jpg);*/
  background: linear-gradient(rgba(47,14,97,0.9),rgba(247,11,54,0.3)),url(images/bg11.jpg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  color: white;
}
.s2{
  background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),url(images/bg8.jpg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  color: white;
}
.s3{
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),url(images/bg13.jpg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  color: white;
}
.s1 p,.s2 p,.s3 p,.s5 p,.s6 p,.s7 p{
   margin-bottom: 0!important;
}
@media (max-width: 605px) {
  .s1,.s2,.s3,.s5,.s6,.s8{
    padding: 100px 10px!important;
  }
  .s1 h1,.s2 h1,.s3 h1,.s5 h1,.s6 h1,.s7 h1,.s8 h1{
  font-size: 30px!important;
  }
  .s1 p,.s2 p,.s3 p,.s5 p,.s7 p{
    font-size: 20px;
    
  }

}
.s2i i{
  font-size: 18px!important;
}
/*---------------section 2-----------*/
.s4{
   /*background: linear-gradient(to right, #eb2300 0%, #ab217f 100%);*/
   background: url(images/bg17.png);
   background-size: 100% 100%;

}
.s5{
 /*background: linear-gradient(to top left, #f91f8c 36%, #ffffff 0%);*/
 background: linear-gradient(to top left, #b60707 36%, #ffffff 0%);
}
.header1 { 
            position: sticky; 
            top:0; 
            background: #fff;
        } 
        .ss5 i{
          color: #045de9;
          font-size: 20px;

        }
/*---------------------------------------ssection 3------------*/

.s7{
  background: linear-gradient(to right, #eb2300 0%, #ab217f 100%);
}
.s8{
  /*background: linear-gradient(to right, #eb2300 0%, #ab217f 100%);
  90% 50% 0% 50% / 0% 50% 90% 50% */
 
background: linear-gradient(to bottom, #072db6 0%, #0c8cac 95%);
}
.rbtn{
  color: #045de9; border-radius: 50px;border: 1px solid white;background: white;
  box-shadow: 10px 10px 14px 1px rgba(00,00,00,0.2);
}
.ss8 img{
  width:60px;
  height: 60px;

}
.icn i{
  color:#ab217f;
  font-size: 20px;
}
.modal h2{

 color: #072db6;
}
@media (max-width: 768px) {
 .s7  h1{
    font-size: 30px!important;
 }
 .s7 p{
  font-size: 20px!important;
 }
 .s7{
  padding: 30px 10px 20px 10px!important;
 }
 .ss7 img{
  display: none;
 }

}
@media (max-width: 576px) {
 .rbtn{
    padding: 5px 10px!important;
 }
 .ss8{
  /*display: flex;
  justify-content: space-between!important;*/
 }
 .ss8 img{
  display: none;
 }
 .s8 p{
  font-size: 16px!important;
 }
 .si8 img{
  height: 120px!important;
  width: auto!important;
 }

 
}
/*---------------------------last part start---------------------------------------------*/
.fa-handshake,
.fa-user-shield,
.fa-hand-holding-heart {
  color: #2ecab6;
  font-size: 20px;
}

footer {
  color: #fff;
}
footer a {
  text-decoration: none;
  color: white;
}
.teal.accent-3 {
  background-color: #1de9b6 !important;
}
.footer-links a:hover {
  font-weight: bold !important;
  text-decoration: underline;
  color: white;
}
.to-top i {
  position: fixed;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  right: 10px;
  bottom: 25px;
  color: #fff;
  font-size: 25px;
  opacity: 0;
  pointer-events: none;
  transition: all 0.4s;
}
.to-top i.active {
  bottom: 25px;
  pointer-events: auto;
  opacity: 1;
}
/*---------------------------last part end---------------------------------------------*/
