* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "ITC Officina Sans Std Book";
}
body {
  background: #f1f3f6;
}
html {
  /*scroll-behavior: smooth;*/
}
.navbar-brand {
  font-size: 20px;
  margin-top: 5px !important;
  margin-bottom: -10px !important;
}
.navbar-brand p {
  font-size: 14px;
  margin-top: -10px;
}
.nav-item a,
.navbar-brand {
  color: #2ecab6 !important;
}
.nav-link {
  font-weight: bold !important;
}
.blink {
  width: 50px;
  height: 20px;
  background: red;
  border-radius: 10px;
  text-align: center;
  font-size: 14px;
  color: white;
  margin-top: -12px !important;
  margin-left: 50px;
}
.bl {
  margin-left: 80px;
}
@media (max-width: 992px) {
  .blink {
    margin-top: 15px !important;
  }
}
@media (max-width: 576px) {
  .navbar-brand {
    padding-left: 0 !important;
  }
}

/*-------------------------section 1 start---------------------------------*/
.wrapper,.wrapper1,.wrapper2{
  /*width: 300vw;*/
}
.slide{
  height: 98vh;
  width: 100vw;
  padding: 100px 50px;
}
.scroll-wrapper,.scroll-wrapper1,.scroll-wrapper2 {
  
}
  .s1{ 
  background: url(images/bg11.jpg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  color: white;
}
.s2{
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),url(images/bg8.jpg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  color: white;
}
.s3{
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.5)),url(images/bg13.jpg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  color: white;
}
.s1 p,.s2 p,.s3 p,.s5 p{
   margin-bottom: 0!important;
}
@media (max-width: 605px) {
  .s1,.s2,.s3{
    padding: 100px 10px!important;
  }
  .s1 h1,.s2 h1,.s3 h1,.s5 h1{
  font-size: 30px!important;
  }
  .s1 p,.s2 p,.s3 p,.s5 p{
    font-size: 20px;
    
  }
}
/*-----------------------section 2  start----------------------------------*/
.s4{
   /*background: linear-gradient(to right, #eb2300 0%, #ab217f 100%);*/
   background: url(images/bg17.png);
   background-size: 100% 100%;
}
/*--------ssection 3------------*/
.s7{
  background: linear-gradient(to right, #2ecab6 32%, #3cb0e2 100%);
}

/*---------------------------last part start---------------------------------------------*/
.fa-handshake,
.fa-user-shield,
.fa-hand-holding-heart {
  color: #2ecab6;
  font-size: 20px;
}

footer {
  color: #fff;
}
footer a {
  text-decoration: none;
  color: white;
}
.teal.accent-3 {
  background-color: #1de9b6 !important;
}
.footer-links a:hover {
  font-weight: bold !important;
  text-decoration: underline;
  color: white;
}

/*---------------------------last part end---------------------------------------------*/
