* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "ITC Officina Sans Std Book";
}

body {
    background: #f1f3f6 !important;
 
}
body::-webkit-scrollbar {
    width: 0.4em;
}

body::-webkit-scrollbar-thumb {
  background-color:rgb(155, 148, 148);
  border-radius: 5px;
  border: none;
}

.tab-content::-webkit-scrollbar {
    width: 0.4em;
    height: 0.4em;
    background-color:white;
    border-radius: 5px;
}
.tab-content::-webkit-scrollbar-thumb {
  background-color:rgb(155, 148, 148);
  border-radius: 5px;
  border: none;
}
input[type=checkbox],
a {
    cursor: pointer;
}


/*--------------------------navbar------------------------------------------*/

.navbar-brand {
    font-size: 20px;
    margin-top: 5px!important;
    margin-bottom: -10px!important
}

.navbar-brand p {
    font-size: 14px;
    margin-top: -10px;
}

.nav-item a,
.navbar-brand {
    color: #2ECAB6!important;
}

.nav-link {
    font-weight: bold!important
}

.btn.btn-search {
    background: #2ECAB6!important;
    border-radius: 0;
    color: white;
}

.login a:hover {
    text-decoration: underline;
}

.dropdown-toggle::after {
    content: none;
}

.fa-map-marker-alt {
    color: #2ecab6;
    font-size: 20px;
    margin-right: 5px;
}

.other {
    color: black;
}


/*-----------------------navbar end------------------------------------------->*/


/*all media queries start*/

@media (max-width: 576px) {
    .navbar-brand {
        padding-left: 0!important;
    }
    .dropdown {
        margin-left: -20px!important
    }
    .navbar-brand {
        font-size: 18px;
    }
    .navbar-brand p {
        font-size: 12px;
    }
}

@media (max-width: 386px)and (min-width: 381px) {
    .dropdown {
        margin-left: -25px!important
    }
}

@media (max-width: 381px) {
    .dropdown {
        margin-left: -35px!important
    }
}


/*all media queries end*/

select {
    -webkit-appearance: none;
    appearance: none;
    background-color: #f1f3f6;
    border: none;
    outline: none;
}

.myModal3 {
    /* bug fix - no overlay */
    display: none;
}

.watermark {
    position: relative;
    max-width: 800px;
    /* Maximum width */
    margin: 0 auto;
    /* Center it */
}

.content {
    position: absolute;
    /* Position the background text */
    color: #f1f1f1;
    /* Grey text */
    width: 100%;
    /* Full width */
    padding: 20px;
    /* Some padding */
}

.carousel-control-next {
    right: 10px;
}

.images img {
    height: 320px;
    width: 100%;
}


/*.accordion {
background-color:#f1f1f1 ;
color: #444;
cursor: pointer;
padding: 20px;
width: 100%;
border: thin;
text-align: left;
outline: thin;
font-size: 15px;
transition: 0.7s;
}
/*.active, .accordion:hover {
background-color:#2ecab6 ;
}*/

.panel {
    padding: 0 18px;
    display: none;
    background-color: #2ECAB6;
    overflow: hidden;
    padding-top: 10px;
    color: white;
}

s

select {
    /* for Firefox */
    -moz-appearance: none;
    /* for Safari, Chrome, Opera */
    -webkit-appearance: none;
}

select::-ms-expand {
    display: none;
}


/* form style */

.ip:hover {
    background-color: #EADCD9;
}

.ip::placeholder {
    font-weight: bold;
}

.reviewsm {
    overflow-y: scroll;
    width: 100%;
    height: 200px;
}

.review {
    overflow-y: scroll;
    width: 100%;
    height: 352px;
}


/*#circle {
 width: 50px;
 height: 50px;
 -webkit-border-radius: 25px;
 -moz-border-radius: 25px;
 border-radius: 28px;
 background: #2ECAB6;
 color: white;
 margin-left: 70px;
}
*/
/*gradient*/
.viewing {
    background: linear-gradient(to right,  #BD3F32 0% , #CB356B 100% );
    border-radius: 5px;
}

.rev,.headings{
    
    background: linear-gradient(to right, #2ecab6 0%, #ccccff 100%);
}
/*.serv{
    background: rgb(61,164,199);
background: linear-gradient(0deg, rgba(61,164,199,0) 0%, rgba(47,197,178,0.9699230033810399) 100%);
}*/


/*------------our service part start------------------*/


/*background: linear-gradient(to right, #6ef7c3 4%, #2ecab6 100%);*/

.img1 {
    width: 30%;
    height: auto;
    margin: auto;
}

.cf h5 {
    font-weight: bold;
}

.cf .card p {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
}

.cf .card {
    margin-bottom: 5px;
    border: none;
    background: none;
    transition: all 1.5s ease;
}

.cf .card:hover {
    transform: scale(1.2);
}


/*---------------our service part end------------------*/


/*---------------------------footer start---------------------------------------------*/

footer {
    color: #fff;
}

footer a {
    text-decoration: none;
    color: white;
}

.teal.accent-3 {
    background-color: #1de9b6 !important;
}

.footer-links a:hover {
    font-weight: bold!important;
    text-decoration: underline;
    color: white;
}

.to-top i {
    position: fixed;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    right: 10px;
    bottom: 25px;
    color: #fff;
    font-size: 25px;
    opacity: 0;
    pointer-events: none;
    transition: all .4s;
}

.to-top i.active {
    bottom: 25px;
    pointer-events: auto;
    opacity: 1;
}

.mobview {
    display: none;
}


/*---------------------------footer end---------------------------------------------*/


/*---------------------------mob view part start---------------------------------------------*/

#myNav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 20px;
    left: 0;
    background-color: #fff;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    text-align: center;
}

.closebtn {
    position: absolute;
    top: 50px;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
    color: black;
}

@media (max-width: 760px) {
    .mobview {
        display: block;
    }
}


/*.bot-card:hover{
cursor: default;
transition: transform 0.4s ease;
}
.bot-card:hover{
transform: translateY(-5px);
}
.bot-card h6:hover{
background-color: #e0f0ed;
}*/


/*@media (max-width:760px){
.bot-card:hover{
  transform: translate(0);
}
.bot-card h6:hover{
  background-color: #fff;
}
}*/

.fea {
    display: grid;
    grid-template-columns: auto auto auto auto auto auto;
    grid-gap: 10px;
}

.fea p {
    font-size: 15px;
    font-weight: bold;
}

@media (max-width:760px) {
    .fea {
        display: grid;
        grid-template-columns: auto auto;
        grid-gap: 10px;
    }
    .fea p {
        text-align: start !important;
        font-size: 15px !important;
    }
}

.ame {
    
    display: grid;
    grid-gap: 10px;
    width: auto;
    grid-template-columns: repeat(8, 0.125fr);
   
}

@media (max-width:600px) {
    .ame {
        display: grid;
        grid-gap: 5 px;
        grid-template-columns: repeat(3, 0.3fr);
        width: 100%;
        grid-auto-flow: dense;
        margin-left: 10px;
        margin-right: 10px; 
    }
}

.fst {
    margin-top: 5px;
    display: grid;
    grid-column-gap: 5rem;
    grid-template-columns: 2fr 1fr;
}

@media (max-width:600px) {
    .fst {
        display: block !important;
    }
    .images img {
        height: auto;
        width: 100%;
    }
}

.mv {
    display: none !important;
}

@media (max-width:600px) {
    .mv {
        display: block !important;
    }
    .dv {
        display: none !important;
    }
}

@media (max-width:600px) {
    .amenity {
        width: 100% !important;
        margin: 0 !important;
        padding: 0 !important;
    }
}

.vall {
    opacity: 0.6;
    z-index: 100;
}

.vall :hover {
    cursor: pointer;
    opacity: 1;
}

.heartactive {
    color: red !important;
    font-size: 25px !important;
}
/*  comments style */
     #red{
         margin-left: 10px;
     }
    .btnn{
        color: #aaa;
        cursor: pointer;
        outline: none ;
        border: none;
        padding: 0;
        margin-left:0 ;
        }
        .btnn:hover ,
        .btnn:focus {
        outline: none !important;
        border: none !important;
        color: blue;
        }
        
        .num{
            
          color: #aaa;
          line-height: 1px;
            font-weight: bold;
            font-size: 0.7rem;
        }
        /* comments style end */

        /* footer link */
        .links .card-body .container-fluid .grid-hotel{
            display: grid;
            grid-row-gap: 5px;
            grid-column-gap: 10px;
            text-align: center;
            grid-template-columns: repeat(6,12.7rem);
            grid-auto-flow: row;
            
           
        }
        @media (max-width:600px){
            .links .card-body .container-fluid .grid-hotel{
                display: grid;
                text-align: center;
                grid-gap: 5px;
                font-size: medium;
                grid-template-columns: repeat(2,auto);
            }
        }
        @media (max-width:600px){
            .nav-pills > li > a{
                font-size: 12px;
              }
        }

        .shadoww{
            box-shadow: 2px 2px 2px 2px gray ;
            border-radius: 5px;
           
        }

        .reviewsm::-webkit-scrollbar {
            width: 0.4em;
        }
        
        .reviewsm::-webkit-scrollbar-thumb {
          background-color:rgb(155, 148, 148);
          border-radius: 5px;
          border: none;
        }

        .review::-webkit-scrollbar {
            width: 0.4em;
        }
        
        .review::-webkit-scrollbar-thumb {
          background-color:#2ECAB6;
          border-radius: 5px;
          border: none;
        }

        .watermark{
            opacity: 0.6;
            font-size: large;
        }
/*---------------------------mob view part end---------------------------------------------*/